<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/static/styles/bulma.min.css" />
    <link rel="stylesheet" href="/static/styles/style.css" />
</head>

<body>
    <section class="section">
        <div class="container mt-6 has-text-centered">
            <div class="block">
                <h1 class="title is-2">wxtj playlist tool</h1>
                <p class="subtitle is-5">quickly convert your Spotify playlists to CSV files for the wxtj playlist
                    editor</p>
            </div>
            <div class="columns">
                <div class="block column is-half is-offset-one-quarter">
                    {% if messages %}
                    {% for message in messages %}
                    <div class="notification is-danger has-text-left">
                        <p class="has-text-weight-bold">Oopsie</p>
                        <p>{{ message }}</p>
                    </div>
                    {% endfor %}
                    {% endif %}
                    <form action="/generate" method="GET">
                        <div class="field"> {% csrf_token %}
                            <h2 class="subtitle label">paste your Spotify playlist URL:</h2>
                            <div class="control">
                                <input class="input" type="url" name="playlist_url" autocomplete="off"
                                    placeholder="https://open.spotify.com/playlist/7A7Ot2wJeaI1mA68LSa5pz?si=76hjoNDdTT2gdpninjE4Rw" />
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input type="submit" value="convert" class="button is-primary" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="hero">
                <div class="hero-body">
                    <!-- dummy hero as a spacer -->
                </div>
            </div>
            <div class="block">
                <h2 class="title is-4">how it works:</h2>
            </div>
            <div class="columns">
                <div class="column is-quarter mx-5">
                    <h2 class="title is-4">1.</h2>
                    <img class="help-img" src="/static/img/help1.png" />
                    <p>right-click your playlist on Spotify. use Share > Copy Playlist Link, and paste in the box above
                    </p>
                </div>
                <div class="column is-quarter mx-5">
                    <h2 class="title is-4">2.</h2>
                    <img class="help-img" src="/static/img/help2.png" />
                    <p>once your playlist is downloaded, open your show in the wtju playlist editor. look at 'upload
                        playlist', choose the downloaded <span class="is-family-monospace">.csv</span> file and click
                        upload.</p>
                </div>
            </div>
        </div>
        </div>
    </section>
    <footer class="footer has-text-centered">
        <p>made by joe kerrigan</p>
        <p>check out the source code <a href="https://github.com/joek13/wxtj-converter">on github</a> </p>
    </footer>
</body>

</html>